.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: unset;
  position: relative;
  border-left: 6px solid #fefffe;
  border-top: 6px solid #fefffe;
  border-right: 8px solid #4d4c4c;
  border-bottom: 8px solid #4d4c4c;
  cursor: pointer;
  font-weight: 700;
}

.tile:disabled {
  box-shadow: unset;
  border: unset;
  cursor: unset;
}

.light {
  background-color: var(--chess-light);
  color: var(--chess-dark);
}

.dark {
  background-color: var(--chess-dark);
  color: var(--chess-light);
}

.dangerLevelOne {
  color: #0000ff;
}

.dangerLevelTwo {
  color: #097e09;
}

.dangerLevelThree {
  color: #ff0000;
}

.dangerLevelFour {
  color: #01017b;
}

.dangerLevelFive {
  color: #7b0101;
}
