.board {
  display: grid;
  border: 20px solid brown;
  gap: 0;
  width: fit-content;
}

.tile {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  background-color: white;
  color: gray;
}

.dark {
  background-color: gray;
  color: white;
}
